{% extends "base.html" %}

{%block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/add_post.css') }}">
{% endblock %}

{%block title %} Add Post Section {% endblock %}

{%block content %}
    <div class="container">
        <div class="sidebar">
            <p1>Guidelines</p1><br>
            <p2>What is the difference between a discussion and a review?</p2> <br>
            <p3>Here is the answer</p3>
        </div>
        
        <div class="main">
            <div class="add_post">
                <p1>Create New Post</p1>
                <form>
                    <input type="text" id="title" placeholder="Post title" required maxlength="50">
                    <input type="text" id="author" placeholder="By.." required maxlength="50">
                    <textarea id="content_new_post" placeholder="Post content" required></textarea>
                    <button type="submit">Create Post</button>
                    <!-- how to add discussion or review and if so, rating and major -->
                </form>
            </div>

        </div>

        
    </div>


{%endblock%}

<p id="Welcome">Welcome to the Add Post Section!</p>