<!DOCTYPE html>
<html lang="en">

{%block head%}
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwatShare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <!-- <title>{%block title %} {%endblock%} | Blah Blah</title> -->
   
</head>
{%endblock%}

<body>
    <nav class="navbar">
        <div class="nav div">
            
            <div class="logo">
                <img src="{{ url_for('static', filename='phoenix.jpg') }}">
            </div>
            
            <ul id="navigation">
                
                
                <li>
                    <a href="{{ url_for('discussions') }}">Discussions</a>
                </li>
                <li>
                    <a href="{{ url_for('reviews') }}">Reviews</a>
                </li>
                <li class="settings">
                    <div class="dropdown">
                        <button class="dropdownbtn">{{session.username}}</button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </div>

                </li>
                
 
            </ul>
            
                
            
        </div>
        
    </nav>
    <!-- <ul id="settings">
        <li>
            <a href="{{ url_for('login') }}">Login</a>
            
        </li>
        <li>
            <a href="{{ url_for('signup') }}">Sign up</a>
        </li>
    </ul> -->


    {%block content%}
    {%endblock%}

    
</body>
</html>