{% extends "base.html" %}
{% block head %}
    {{ super() }}
<script src="{{ url_for('static', filename='post.js') }}" defer></script>
{% endblock %}

{%block content %}
    <h1>{{ discussion.title }}</h1>
    <p>{{ discussion.content }}</p>
    <p>{{ discussion.author }}</p>
    <p>Comments: {{ num_comments }}</p>
    
    <button type="submit" class="arrow" id="up_votes">↑</button>
    <span id="num_votes">0</span>


    <hr>

    <h3>Comments</h3>
    <ul class="list-group">
        {% for comment in discussion.comments %}
            <li class="list-group-item"> <p>{{ comment.content }}</p> <p>{{ comment.author }}</p> <p>{{ comment.created_at }}</p></li>

        {% endfor %}
    </ul>

    <form action="{{ url_for('comment', discussion_id=discussion.id) }}" method="post" class="mt-3">
        <textarea name="author" class="form-control mb-2" placeholder="By..." required></textarea>
        <textarea name="comment" class="form-control mb-2" placeholder="Reply..." required></textarea>
        <button type="submit" class="btn btn-secondary">Post Comment</button>
    </form>

{% endblock %}