{% extends "base.html" %}

{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
<script src="{{url_for('static', filename='js/home.js')}}" defer></script>
<script src="{{url_for('static', filename='js/post.js')}}" defer></script>


{% endblock %}

{%block title %} Discussions Section {% endblock %}

{%block content %}
<div class="container">
    <div class="sidebar">
        <br>
        <p1 style="text-align:center;">Sort By:</p1>
        <div class="dropdown">
            <select name="order_by" id="order_by" onchange="filterby(this)">
                <option value="">Most recent</option>
                <option value="1">Least recent</option>
                <option value="2">Most upvotes</option>
                <option value="3">Fewest upvotes</option>
            </select>

            </select>
        </div>
    </div>


    <div class="space">
        <br>
        <p2>Discussions Section</p2>

        <div class="add_post">
            <p1>Create New Discussion</p1>
            <form id="form">
                <input type="text" id="title" placeholder="Post title" required maxlength="50">

                <input type="text" id="course" placeholder="Class (optional).." required maxlength="50">
                <textarea id="content" placeholder="Post content" required></textarea>
                <button id="submitDiscussion">Create Post</button>
            </form>
        </div>
        <div class="list-group">
            {% for discussion in discussions %}
            <a href="{{ url_for('dis_posts', discussion_id=discussion.id) }}" class="list-group-item">
                <div class="whereithappens">
                    <div id="header">
                        <p id="title">{{discussion.title}}</p>
                        <p id="author">By: {{discussion.author}}</p>
                        <p id="course">Course: {{discussion.course}}</p>
                    </div>

                    <p id="content">{{discussion.content}}</p>

            </a>
            <div id="information" class="info list-group-item">

                <div id="{{discussion.id}}number">{{discussion.up_votes}}</div>
                <img width="20" height="20" id="{{discussion.id}}" onclick="upvote(this)" src="{{url_for('static',
                                    filename='/images/upvote.png')}}" class="upvote" /><img />

                <p id="created_at">{{discussion.created_at}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{%endblock%}