{% extends "base.html" %}

{%block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/discussions.css') }}">
    <script src="{{url_for('static', filename='home.js')}}" defer></script>
{% endblock %}

{%block title %} Discussions Section {% endblock %}

{%block content %}
    <div class="container">
        <div class="sidebar">
            <br><p1 style="text-align:center;">Navigation</p1>
        </div>

    </div>
        <div class="discussion">
            <br>
            <p1>Welcome to the Discussions!</p1>
            <div class="main">
                <div class="add_post">
                    <p1>Create New Discussion</p1>
                    <form >                       
                        <input type="text" id="title" placeholder="Post title" required maxlength="50">
                        <input type="text" id="author" placeholder="By.." required maxlength="50">
                        <input type="text" id="course" placeholder="Class (optional).." required maxlength="50">
                        <textarea id="content" placeholder="Post content" required></textarea>
                        <button id="submitForm">Create Post</button>
                    </form>
                </div>
    
            </div>
           
            <div class="discussion_section">
                <div class="discussion_post">
                        <div id="header">
                            
                  
                            <p id="title">title</p1>
                            <p id="author">author</p>
                            <p id="course">course</p>
                                                                       
                        </div>
                        <p id="content">content</p>  
                    
                        <div id="information">
                            <p id="upvotes">upvotes</p>
                            <p id="created_at">created_at</p>
                        </div>
                     
                    </a>
                </div>
                
               
            </div>
        </div>
    </div>
{%endblock%}





