{% extends "base.html" %}

{%block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/discussions.css') }}">
{% endblock %}

{%block title %} Discussions Section {% endblock %}

{%block content %}
    <div class="container">
        <div class="sidebar">
            <br><p1 style="text-align:center;">Navigation</p1>
        </div>
        
        <div class="main">
            <br>
            <p1>Welcome to the Discussions!</p1>
            <div class="discussion_section">
                <div class="discussion_post">
                    <div id="header">
                  
                        <p id="title">title</p1>
                        <p id="author">author</p>
                        <p id="class">class</p>
                                                                       
                    </div>
                    <p id="content">content</p>  
                    
                    <div id="information">
                        <p id="upvotes">upvotes</p>
                        <p id="created_at">created_at</p>
                    </div>
                     

                </div>

                <div id="add_comment">
                    <form>
                        <textarea name="author" class="form-control mb-2" placeholder="By..." required></textarea>
                        <textarea name="comment" class="form-control mb-2" placeholder="Add comment..." required></textarea>
                        <button type="submit" class="btn btn-secondary">Post Comment</button>
                    </form>
                </div>

                <div class="disc_comments">
                    <ul class="list-group">

                        <li>
                            <div id="header">
                                <p id="author">author</p>                                                                                                        
                            </div>
                                <p id="content">content</p>                        
                            <div id="information">
                                <p id="created_at">created_at</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        
    </div>
    <li>
        <a href="{{ url_for('login') }}">Login</a>
        
    </li>
    <li>
        <a href="{{ url_for('signup') }}">Sign up</a>
    </li>


{%endblock%}

<p id="Welcome">Welcome to the Discussion Section!</p>
