{% extends "base.html" %}

{%block head%}
{{ super() }}
{% endblock %}

{%block title %} {{ session.username}} | Your Content {% endblock %}

{%block content %}
<div class="container">
    <div class="sidebar">
        <br>
        <p1 style="text-align:center;">Platform Information</p1>
        <h4>Swatshare facilitates academic learning outside of the lecture hall. With the goal of sparking curiosity, we invite you to engage with other Swatties and learn about topics that you would otherwise not be exposed to in the course of your studies. Furthermore, Swatshare provides the opportunity to share feedback on and express opinions about classes and Professors at Swarthmore.
            </h4>
        <br>
    </div>
    <div class="space">
        <br>
        <p2> Welcome {{ session.username}}! | Your Content:</p2>
        <div class="list-group">
            <p1>Discussions</p1>
            {% for discussion in discussions %}
            <a href="{{ url_for('dis_posts', discussion_id=discussion.id) }}" class="list-group-item">
                <div class="whereithappens">
                    <div id="header">
                        <p id="title">{{discussion.title}}</p>
                        <p id="author">By: {{discussion.author}}</p>
                        <p id="course">Course: {{discussion.course}}</p>
                    </div>

                    <p id="content">{{discussion.content}}</p>

                    <div id="information">
                        <p id="created_at">{{discussion.created_at}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
        <div class="list-group">
            <p1>Reviews</p1>
            {% for review in reviews %}

            <a href="{{ url_for('rev_posts', review_id=review.id) }}" class="list-group-item">>
                <div class="whereithappens">
                    <div id="header">
                        <p id="title">{{review.title}}</p1>
                        <p id="author">By: {{review.author}}</p>
                        <p id="major">Major: {{review.major}}</p>
                    </div>
                    <p id="content">{{review.content}}</p>

                    <div id="information">

                        <p id="created_at">{{review.created_at}}</p>

                    </div>
                </div>

            </a>
            {% endfor %}

        </div>
    </div>
</div>
{%endblock%}