{% extends "base.html" %}

{%block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}



{%block content %}
<br><br>
<div class="container">


    <form id="login" action="{{ url_for('login') }}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <br>
    <p id="register">Don't have an account? Signup <a href="{{ url_for('signup') }}" >here</a>.</p>
</div>








{%endblock%}