<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwatShare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
</head>

<body>
    <div class="container">
        <div class="signup">
            <p1>Sign up to create an account</p1>
            <form action="{{ url_for('signup') }}" method="post">
                <div>
                    <label for="username">Please enter a username::</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <br>
                <div>
                    <label for="password">Please enter a password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <br>
                <div>
                    <label for="email">Please enter College email ending in swarthmore.edu:</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <br>
                <div>
                    <button type="submit">Sign up</button>
                </div>
                <p>Please enter a username:</p>
            </form>
            <p>Back to <a href="{{ url_for('login') }}">Login </a></p>
        </div>
    </div>
</body>

</html>