{% extends "base.html" %}
<script src="{{url_for('static', filename='js/new.js')}}" defer></script>
{%block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/discussions.css') }}">
{% endblock %}

{%block title %} Discussions Section {% endblock %}

{%block content %}
    <div class="container">
        <div class="sidebar">
            <br><p1 style="text-align:center;">Navigation</p1>
        </div>
        <div class="list-group">
        {% for discussion in discussions %}
            <a href="{{ url_for('discussion', discussion_id=discussion.id) }}" class="list-group-item">
                <div id = "header">
                    <h3 id = "title">{{ discussion.title }}</h3>
                    <p id = "author"> {{ discussion.author }}</p>
                    <p id = "course"> {{ discussion.course }}</p>
                </div>
                <h5 id = "content">{{ discussion.content }}</h5>
                <div id = "information">
                    <p id = "created_at">{{ discussion.created_at }}</p>
                </div>
               
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}