body {
    margin:0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    color:aqua;

}


#page{
    padding-top:60px;
    
}


.navbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
   
    background-color:rgb(162, 113, 111);
   
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    /* z-index: 1000; */

}

.navbar ul{
    list-style-type: none;
    background-color:rgb(118, 27, 27);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 60px;
    
}

.navbar a{
    color:aliceblue;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
    height: 60px;
}

.navbar a:hover{
    background-color:rgb(59, 11, 9);
}

.navbar li{
    float:left;
    
}

.logo {
    float: left;
}

.logo img {
    height: 60px;
    width: 60px;
}

p1{
    color:rgb(80, 10, 10);
    font-weight: bold;
    font-size:large;
}