


.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.main {

    background: rgb(238, 234, 234);
   
}

.sidebar {
    background:#e4dfdf;
    border: 1px solid #ccc;
    border-radius: 5px; /* Slightly rounded corners */
}

#Welcome {
    text-align: center;
    font-size: 24px;
    color: #b29cc4; /* Dark purple */
}

.discussion_section {
    background-color: #ffffff; /* White background for threads */
    border: 1px solid #ccc; /* Light border */
    padding: 10px; /* Space inside the thread */
    margin: 10px 0; /* Space between threads */
    border-radius: 5px; /* Slightly rounded corners */
}

.discussion_post {
    border: 1px solid #ddd; /* Subtle border around posts */
    padding: 10px; /* Space inside posts */
    margin: 5px 0; /* Space between posts */
    background-color: #f9f9f9; /* Slightly darker background */
   
}

.disc_comments {
    border: 1px solid #ddd; /* Subtle border around posts */
    padding: 10px; /* Space inside posts */
    margin: 5px 0; /* Space between posts */
    background-color: #f9f9f9; /* Slightly darker background */
   
}

#add_comment {
    border: 1px solid #ddd; /* Subtle border around posts */
    padding: 10px; /* Space inside posts */
    margin: 5px 0; /* Space between posts */
    background-color: #e4dfdf; /* Slightly darker background */
}

