/* RATING */

.rating_container .rating {
    direction: rtl;
}

.rating_container .rating label {
    display: inline-block;
    cursor: pointer;
    color: #ebebeb;
}

.rating_container .rating label i {
    font-size: 2rem;
    transition: 0.1s ease-in
}

.rating_container .rating label:hover i,
.rating_container .rating label:hover~label i {
    color: #571708;
}

.rating_container .rating .rating-radio {
    display: none;
}

.rating_container .rating input[type="radio"]:checked+label i,
.rating_container .rating input[type="radio"]:checked~label i {
    color: #571708;
}